.creator-body {
  font-size: 1.25rem;
  overflow-y: scroll;
  max-height: calc(100vh - 14rem);
  display: flex;
  flex-direction: column;

  .question-details {
    margin: 1rem 2rem;
    padding: 1rem 2rem;
    background: white;

    input:focus {
      outline: none;
    }

    .question-details-header {
      margin-bottom: 1rem;
      font-weight: bold;
      font-size: 1.5rem;
    }

    .question-title {
      display: flex;
      border-bottom: 1px solid #717171;
      padding: 0.25rem 1rem;
      color: #717171;
      margin: 1rem 0;

      input {
        border: none;
        width: 80%;
        margin-left: 1rem;
        font-size: 1.25rem
      }

      span {
        width: 7rem;
      }

      p {
        margin: 0;
      }
    }

    .question-text {
      margin: 1rem 0;
      border-bottom: 1px solid #717171;
      padding: 0.25rem 1rem;
      color: #717171;
      display: flex;

      input {
        border: none;
        width: 80%;
        margin-left: 1rem;
        font-size: 1.25rem
      }

      span {
        width: 7rem;
      }

      p {
        margin: 0;
      }
    }
  }

  .question-options {
    margin: 1rem 2rem;
    padding: 1rem 2rem;
    background: white;
    margin-top: 0;

    .question-options-header {
      font-weight: bold;
      margin-bottom: 1rem;
      font-size: 1.5rem;
    }

    .options-grading {
      display: flex;
      flex-wrap: nowrap;
      justify-content: space-evenly;
      align-items: center;

      div {
        display: flex;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: center;

        span {
          padding: 0px 1rem;
          font-size: 1.25rem;
        }

        input {
          width: 20%;
          border: none;
          border-bottom: 1px solid #717171;
          text-align: center;
          font-size: 1.25rem;
        }
      }
    }
  }

  -ms-overflow-style: none;
  scrollbar-width: none;
}

.red {
  color: crimson;
}
