.warning-module {
  width: 48rem;
  border: 1px solid #cccccc;
  border-radius: 16px;
  background: #f2f2f2;
  position: absolute;
  z-index: 1001;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 40%;
  box-shadow: 0 0 30px 10px rgba(0, 0, 0, 0.5);

  .exit {
    background-color: #ffc904;
    font-size: 1.5rem;
    width: 2.25rem;
    height: 2.25rem;
    border: 2px solid;
    border-radius: 50%;
    margin: 0.5rem 0.5rem 0 0;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;

    &:focus {
      border-color: gray;
    }
  }

  button:focus {
    outline: none;
  }

  .warning-header {
    background: black;
    height: 4rem;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
    border-radius: 16px 16px 0 0;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .header-title {
      margin: 1rem 0;
      color: #ffc904;
      font-weight: bold;
      font-size: 1.75rem;
      text-align: center;
    }
  }

  .buttons {
    background: black;
    height: 4rem;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
    border-radius: 0 0 16px 16px;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    .button-link {
      display: flex;
      text-decoration: none;
    }

    .save-button,
    .cancel-button {
      align-self: center;
      width: 8rem;
      height: 2rem;
      background-color: #ffc904;
      border: none;
      color: black;
      font-weight: bold;
      border-radius: 0.5rem;
      text-align: center;
      text-decoration: none;
      font-size: 1.25rem;

      a {
        text-decoration: none;
        color: black;
      }

      &:focus {
        border: 2px solid gray;
        border-radius: 0.5rem;
      }
    }

    .save-button {
      line-height: 2rem;
    }

    .cancel-button {
      background-color: #cccccc;
      color: black;

      &:focus {
        border: 2px solid gray;
        border-radius: 0.5rem;
      }
    }
  }

  .warning-body {
    font-size: 1.25rem;
    max-height: calc(100vh - 14rem);
    display: flex;
    flex-direction: column;

    .warning-message {
      margin: 1rem 2rem;
      padding: 1rem 2rem;
      background: white;
      text-align: center;
      ul {
        list-style-type: none;
        padding-left: 0;
      }

      input:focus {
        outline: none;
      }
    }

    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
