.multiple-choice {
  display: flex;
  flex-direction: column;

  .answer-choice {
    position: relative;
    border: 2px solid #cccccc;
    height: 3rem;
    width: 100%;
    margin-bottom: 1rem;

    .letter {
      width: 100%;
      max-width: 40px;
      min-width: 40px;
      border-right: 1px solid #cccccc;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;

      p {
        text-align: center;
        color: #ffc904;
        font-weight: bold;
        font-size: 1.5rem;
        margin: 0;
        text-shadow: 1px 1px black;
      }
    }

    p {
      text-align: center;
      color: #ffc904;
      font-weight: bold;
      font-size: 1.25rem;
      margin: 0;
    }

    .answer-info {
      display: flex;
      position: absolute;
      height: 100%;
      width: 100%;

      .answer-body {
        position: relative;
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
      }
    }

    .answer-text {
      position: relative;
      margin-left: 8px;
      align-content: center;
      display: inline-grid;
      height: 100%;
      font-size: 1.25rem;
      width: 100%;
    }

    .answer-text-input {
      padding-left: 8px;
      position: relative;
      align-content: center;
      display: inline-grid;
      font-size: 1.25rem;
      width: 100%;
    }
  }

  .responses {
    align-content: center;
    display: inline-grid;
    height: 100%;
    width: 32px;
    font-size: 1rem;
    margin-right: 8px;
    padding-left: 8px;
  }

  .response-bar {
    height: 100%;
    position: absolute;
  }

  .correct {
    .response-bar {
      background-color: #00ff0036;
    }
  }

  .incorrect {
    .response-bar {
      background-color: #ff0f0f3f;
    }
  }

  .neutral {
    .response-bar {
      background-color: #ffc904;
    }
  }
}
