.multiple-choice {
  display: flex;
  flex-direction: column;

  .answer-choice {
    position: relative;
    border: 1px solid #cccccc;
    height: 7vh;
    width: 80%;
    margin-bottom: 2vh;

    .letter {
      //TODO: figure out centering
      width: 100%;
      max-width: 40px;
      min-width: 40px;
      border-right: 1px solid #cccccc;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;

      p {
        text-align: center;
        color: #ffc904;
        font-weight: bold;
        font-size: 1vw;
        margin: 0;
      }
    }

    p {
      text-align: center;
      color: #ffc904;
      font-weight: bold;
      font-size: 16px;
      margin: 0;
    }

    .answer-info {
      display: flex;
      position: absolute;
      height: 100%;
      width: 100%;
    }

    .answer-text {
      position: relative;
      margin-left: 8px;
      align-content: center;
      display: inline-grid;
      height: 100%;
      font-size: 14px;
      width: 100%;
    }

    .answer-text-input {
      padding-left: 8px;
      position: relative;
      align-content: center;
      display: inline-grid;
      font-size: 14px;
      width: 100%;
    }
  }

  .responses {
    align-content: center;
    display: inline-grid;
    height: 100%;
    width: 32px;
    font-size: 14px;
    margin-right: 8px;
    padding-left: 8px;
  }

  .correct {
    .response-bar {
      position: absolute;
      background-color: #00ff0036;
      height: 100%;
    }
  }

  .incorrect {
    .response-bar {
      position: absolute;
      background-color: #ff0f0f3f;
      height: 100%;
    }
  }
}
