.multiple-choice {
  display: flex;
  flex-direction: column;
  // justify-content: space-between;

  .answer-choice {
    border: 1px solid #cccccc;
    height: 7vh;
    width: 80%;
    margin-bottom: 2vh;

    display: flex;

    .letter {
      //TODO: figure out centering
      width: 10%;
      border-right: 1px solid #cccccc;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;

      p {
        // border: 1px solid blue;
        text-align: center;
        color: #ffc904;
        font-weight: bold;
        font-size: 1vw;
        margin: 0;
      }
    }

    .answer-text {
      margin-left: 2vw;
      margin-top: 2.5vh; //TODO: figure out centering with this
      // border: 1px solid green;
      font-size: 1vw;
      width: 80%;

      span {
        // border: 1px solid red;
      }
    }
  }
}
