.question-list {
	width: 40%;
	height: 100%;
	border: 1px solid red;

	.search-box {
		position: absolute;
		top: 2vh;
		left: 1vw;
		width: 30vw;
		height: 4vh;
		border-radius: 8px;
		border-width: 1px;
	}

	.search-filter {
		
	}
}