.export-modal {
  width: 48rem;
  background-color: #f2f2f2;
  border: 1px solid #cccccc;
  box-shadow: 0 0 30px 10px rgba(0, 0, 0, 0.5);
  border-radius: 16px;

  position: absolute;
  top: 2rem;
  left: 50%;
  transform: translate(-50%, 0);

  z-index: 5;

  .export-header,
  .export-footer {
    background-color: #000000;
  }

  h3 {
    text-align: center;
    font-weight: bold;
    font-size: 1.75rem;
    color: #ffc904;
    margin: 0;
    padding: 1.5rem;
  }

  .exit-button {
    background-color: #ffc904;
    font-size: 1.5rem;
    width: 2rem;
    height: 2rem;
    border: none;
    border-radius: 50%;
    margin: 0.5rem 0.5rem 0 0;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
  }

  .session-list,
  .metadata {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    margin: 2rem;
    padding: 2rem;
  }

  .session-list {
    p {
      display: inline;
      margin: 0;
    }

    div {
      display: flex;
      justify-content: space-between;
    }
  }

  .session-box {
    margin-bottom: 1rem;
  }

  .labels {
    margin-bottom: 2rem;
    color: #666666;
    font-weight: bold;
  }

  .metadata {
    input {
      border: none;
      border-bottom: 1px solid black;
      font-size: 1rem;
    }

    label {
      font-weight: bold;
      margin-right: 1rem;
      font-size: 1.2rem;
    }
  }

  .assignment-input {
    margin-bottom: 1rem;
  }

  .export-footer {
    display: flex;
    justify-content: space-around;
  }

  .cancel,
  .export {
    font-size: 1rem;
    font-weight: bold;
    border: none;
    margin: 1rem;
    padding: 0.5rem 2rem;
    border-radius: 5px;
    color: black;
  }

  .cancel {
    background-color: #cccccc;
  }

  .export {
    background-color: #ffc904;
  }
}
