.question {
  width: 95%;
  margin: auto;

  h2 {
    font-size: 32px;
  }

  p,
  label {
    margin: 0;
    padding: 1rem;
  }

  .closed-warning {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    color: #ffc904;
  }

  .main-info {
    display: flex;
    justify-content: space-between;
  }

  .answers,
  .percentages {
    font-size: 24px;
    width: 49%;
  }

  .answer-letter {
    color: #ffc904;
    border-right: 2px solid #cccccc;
    background-color: white;
  }

  .answer-text {
    margin-left: 1rem;
  }

  .answer {
    border: 2px solid #cccccc;
    min-width: max-content;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5rem;
  }

  .always-displayed {
    display: flex;
  }

  .percent-info {
    display: flex;
    width: 100%;

    // having trouble with getting the height right, so this centers the bars at least
    padding-top: 2px;
    margin-bottom: calc(1.5rem + 2px);

    progress {
      width: 100%;
      position: relative;

      background: none;
      border: none;

      &::-moz-progress-bar,
      &::-webkit-progress-value {
        background-color: #ffc904;
      }
    }
  }

  .correct {
    background-color: #c9ffc9;
  }

  .incorrect {
    background-color: #ffc3c3;
  }
}
