.question {
  width: 95%;
  margin: auto;

  h2 {
    font-size: 32px;
  }

  p,
  label {
    margin: 0;
    padding: 1rem;
  }

  .closed-warning {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    color: #ffc904;
  }

  .main-info {
    display: flex;
    justify-content: space-between;
  }

  .always-displayed {
    width: 100%;
    display: flex;
    align-items: center;
  }

  .answers,
  .percentages {
    font-size: 24px;
    width: 49%;
  }

  .answer-letter {
    border-right: 2px solid #cccccc;
    background-color: white;
  }

  .answer-info {
    margin: 0 1rem;
    display: flex;
    justify-content: space-between;
    flex: 1 0 auto;
    position: relative;
  }

  .answer {
    border: 2px solid #cccccc;
    min-width: max-content;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5rem;

    img {
      height: 32px;
      width: auto;
      align-self: center;
      margin-right: 1rem;
    }
  }

  .always-displayed {
    display: flex;
  }

  .correct-bar {
    background-color: #ffc904;
    position: absolute;
    height: 100%;
    left: -1rem;
    z-index: -1;
  }

  .correct {
    background-color: #c9ffc9;
  }

  .incorrect {
    background-color: #ffc3c3;
  }
}
