.content-tree {
  width: 32rem;
  height: calc(100vh - 8rem);
  border-right: 1px solid #cccccc;
  overflow-y: auto;

  .tree-options {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    margin: 8px 0;

    .input-box {
      left: 0;
      border-radius: 8px;
      border-width: 1px;
      height: 1.5rem;
      width: 80%;
      color: black;
      font-size: 1rem;
      border-color: #aaaaaa;
      text-decoration: none;
    }

    .filter-button {
      margin-left: 1rem;
      color: #ffc904;
      background: black;
      font-weight: bold;
      font-family: helvetica;
      height: 1.5rem;
      width: 4rem;
      border: none;
      border-radius: 5px;
      font-size: 1rem;
      box-shadow: -4px 4px 5px rgba(0, 0, 0, 0.25);
    }
  }

  .question-list {
    width: 100%;

    .question-list-header {
      height: 5%;
      justify-content: space-between;
      align-items: center;
      display: grid;
      padding: 0 16px 0 24px;
      grid-template-columns: 48% 24px 30% 52px;

      span {
        text-align: center;
        color: #777777;
      }
    }
  }

  .folder {
    margin: 4px 0 4px 8px;
    font-weight: 500;
    cursor: pointer;
    user-select: none;
    display: grid;
    grid-template-columns: auto;

    input {
      margin-right: 8px;
    }

    &:hover {
      background: whitesmoke;
    }
  }

  .preview-question {
    width: calc(100% - 24px);
    padding: 4px 0 4px 24px;
    display: grid;
    grid-template-columns: 51% 8px 30% 52px;
    cursor: pointer;

    &:hover {
      background: whitesmoke;

      .content-tree-icon {
        opacity: 1;
      }
    }
  }

  .selected {
    background: #ffc904;

    &:hover {
      background: #ffc904;
    }
  }

  .collapsed-item {
    display: none;
  }

  .title,
  .type {
    overflow: hidden;
  }

  .type {
    text-align: center;
  }

  .create-buttons {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 0.5rem;
  }

  .create-question-button,
  .create-folder-button {
    background-color: #ffc904;
    border: 0.125rem solid #ffc904;
    color: black;
    border-radius: 0.5rem;
    text-align: center;
    text-decoration: none;
    font-size: 1rem;
    cursor: pointer;

    &:before {
      content: "Create ";
    }
  }

  .folder-item {
    display: grid;
    grid-template-columns: auto 52px;

    &:hover {
      .content-tree-icon {
        opacity: 1;
      }
    }
  }
}

.content-tree-icons {
  display: flex;
  flex-direction: row;
}

.content-tree-icon {
  opacity: 0;
  margin-left: 4px;

  path {
    transform: scale(0.05);
  }

  &.show {
    opacity: 1;
  }
}

@media screen and (max-width: 1150px) {
  .content-tree {
    .question-list {
      .question-list-header {
        grid-template-columns: 100%;
      }
    }

    .preview-question {
      grid-template-columns: auto 8px 52px;
    }

    .type {
      display: none;
    }
  }
}

@media screen and (max-width: 800px) {
  .content-tree {
    .create-question-button,
    .create-folder-button {
      &:before {
        content: "+ ";
      }
    }
  }
}
