.body {
  position: relative;
  height: 85vh;
  width: 100%;
  display: flex;

  .tab-header {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    button {
      width: 100%;
      background: whitesmoke;
      outline: none;
      border: none;
      font-weight: 700;
      height: 32px;
    }

    .active {
      background: #ffc904;
    }
  }

  .option-buttons {
    position: absolute;
    top: 3rem;
    right: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;

    button {
      margin: 0.25rem 0.5rem;
      border: 1px solid #ffc904;
      background-color: white;
      border-radius: 8px;
      box-shadow: -3px 3px 5px rgba(0, 0, 0, 0.25);
    }

    .present-button {
      background-color: #ffc904;

      a {
        color: black;
        text-decoration: none;
      }
    }

    .delete-button,
    .edit-button {
      cursor: pointer;
    }
  }

  .content-page {
    width: 100%;
  }
}
