.body {
  position: relative;
  width: 100%;
  // min-width: 40rem;
  display: flex;

  .tab-header {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    button {
      width: 100%;
      background: whitesmoke;
      outline: none;
      border: none;
      font-size: 1.5rem;
      font-weight: 700;
      height: 2.5rem;
    }

    .active {
      background: #ffc904;
    }
  }

  .content-page {
    width: 100%;
  }
}
