.present-preview {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  .present-preview-logo {
    height: 10vh;
    width: auto;
  }

  .start-button {
    border: none;
    background: #ffc904;
    color: black;
    font-size: 1.75vw;
    font-weight: bold;
    border-radius: 8px;
    height: 5vh;
    width: 12vw;
    margin-bottom: 1vh;
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.25);
    text-align: left;
    padding-left: 1vw;

    a {
      color: black;
      text-decoration: none;
    }
  }

  .skip-button {
    border: none;
    background: white;
    color: black;
    font-size: 1.75vw;
    border-radius: 8px;
    height: 5vh;
    width: 20vw;
    margin: 1vh 0vw;
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.25);
    text-align: left;
    padding-left: 1vw;
  }

  .helper-text {
    color: #aaaaaa;
  }
}
