.content-tree {
  position: relative;
  max-width: 40%;
  min-width: 40%;
  height: calc(100vh - 11rem);
  border-right: 1px solid #cccccc;
  padding-bottom: 3rem;

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .question-list-header {
    height: min-content;
    align-items: center;
    display: grid;
    grid-template-columns: auto 24px 30% 52px;
    margin: 0.5rem 0;

    span {
      color: #777777;
      font-size: 1.25rem;
    }

    .title {
      margin-left: 2.5rem;
    }
  }

  .question-list {
    width: 100%;
    overflow: auto;
    height: calc(100vh - 23rem);
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .question-list-body {
      margin-bottom: 1rem;
    }
  }

  .folder {
    margin: 4px 0 4px 8px;
    font-weight: 500;
    cursor: pointer;
    user-select: none;

    input {
      margin-right: 8px;
    }

    &:hover {
      background: whitesmoke;
    }
  }

  .preview-question {
    width: calc(100% - 2.5rem);
    padding: 4px 0 4px 2.5rem;
    display: grid;
    grid-template-columns: auto 8px 30% 52px;
    cursor: pointer;

    &:hover {
      background: whitesmoke;

      .content-tree-icon {
        opacity: 1;
      }
    }
  }

  .rogue-question {
    width: calc(100% - 12px);
    padding: 4px 0 4px 12px;

    &:first-child {
      border-top: 1px solid gray;
      margin-top: 1rem;
      padding-top: 1rem;
    }
  }

  .rogue-question-separator {
    border: 1px solid black;
    margin: 1rem 0;
  }

  .selected {
    background: #ffc904;

    &:hover {
      background: #ffc904;
    }
  }

  .collapsed-item {
    display: none;
  }

  .title,
  .type {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    font-size: 1.25rem;
  }

  .type {
    text-align: center;
  }

  .create-buttons {
    display: flex;
    justify-content: space-evenly;
    margin: 1rem 0;
  }

  .create-question-button,
  .create-folder-button {
    background-color: #ffc904;
    border: 0.125rem solid #ffc904;
    color: black;
    border-radius: 0.5rem;
    text-align: center;
    text-decoration: none;
    font-size: 1.25rem;
    cursor: pointer;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.4);
    padding: 0.5rem 1rem;

    &:before {
      content: "Create ";
    }
  }

  .folder-item {
    display: grid;

    grid-template-columns: 24px 0.5rem 24px 4px auto 64px;

    &:hover {
      .content-tree-icon {
        opacity: 1;
      }
    }

    span {
      font-weight: 700;
      font-size: 1.25rem;
    }
  }

  .folder-name-label {
    font-size: 1.25rem;
    font-weight: bold;
  }

  .dropdown {
    width: 24px;
    height: 24px;
  }

  .dropdown-open {
    width: 100%;
    height: auto;
  }

  .dropdown-closed {
    width: auto;
    height: 100%;
  }

  .present-button {
    position: fixed;
    bottom: 0;
    align-self: center;
    margin-bottom: 1rem;
    padding: 0.5rem 1rem;
    background-color: #ffc904;
    border: 0.125rem solid #ffc904;
    color: black;
    border-radius: 0.5rem;
    text-align: center;
    text-decoration: none;
    font-size: 1.5rem;
    cursor: pointer;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.4);
  }
}

.content-tree-icons {
  display: flex;
  flex-direction: row;
  justify-self: end;

  button {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
  }

  .delete-button {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }
}

.content-tree-icon {
  opacity: 0;
  height: 24px;
  width: auto;

  &.show {
    opacity: 1;
  }
}

.folder-icon {
  height: 1.25rem;
  width: auto;
}

@media screen and (max-width: 1150px) {
  .content-tree {
    .question-list-header {
      grid-template-columns: 100%;
    }

    .preview-question {
      grid-template-columns: auto 8px 52px;
    }

    .type {
      display: none;
    }
  }
}

@media screen and (max-width: 850px) {
  .content-tree {
    .create-question-button,
    .create-folder-button {
      &:before {
        content: "+ ";
      }
    }
  }
}
