.content-tree {
  position: relative;
  max-width: 40%;
  min-width: 40%;
  height: calc(100vh - 8rem);
  border-right: 1px solid #cccccc;

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .tree-options {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    margin: 1rem 0;

    .input-box {
      left: 0;
      border-radius: 8px;
      border-width: 1px;
      width: 70%;
      color: black;
      border-color: #aaaaaa;
      text-decoration: none;
      font-size: 1.25rem;
      padding: 0.5rem 1rem;
    }

    .filter-button {
      color: #ffc904;
      background: black;
      font-weight: bold;
      font-family: helvetica;
      border: none;
      border-radius: 5px;
      font-size: 1.25rem;
      padding: 0.5rem 1rem;
      box-shadow: 0 3px 4px rgba(0, 0, 0, 0.4);
    }
  }

  .question-list {
    width: 100%;
    overflow: auto;
    height: calc(100vh - 17rem);
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .question-list-header {
      height: 5%;
      align-items: center;
      display: grid;
      grid-template-columns: auto 24px 30% 52px;

      span {
        color: #777777;
        font-size: 1.25rem;
      }

      .title {
        margin-left: 2rem;
      }
    }
  }

  .folder {
    margin: 4px 0 4px 8px;
    font-weight: 500;
    cursor: pointer;
    user-select: none;

    input {
      margin-right: 8px;
    }

    &:hover {
      background: whitesmoke;
    }
  }

  .preview-question {
    width: calc(100% - 24px);
    padding: 4px 0 4px 24px;
    display: grid;
    grid-template-columns: auto 8px 30% 52px;
    cursor: pointer;

    &:hover {
      background: whitesmoke;

      .content-tree-icon {
        opacity: 1;
      }
    }
  }

  .rogue-question {
    width: calc(100% - 12px);
    padding: 4px 0 4px 12px;

    &:first-child {
      border-top: 1px solid gray;
      margin-top: 1rem;
      padding-top: 1rem;
    }
  }

  .rogue-question-separator {
    border: 1px solid black;
    margin: 1rem 0;
  }

  .selected {
    background: #ffc904;

    &:hover {
      background: #ffc904;
    }
  }

  .collapsed-item {
    display: none;
  }

  .title {
    height: 20px;
  }

  .title,
  .type {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
  }

  .type {
    text-align: center;
  }

  .create-buttons {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 0.5rem;
  }

  .create-question-button,
  .create-folder-button {
    background-color: #ffc904;
    border: 0.125rem solid #ffc904;
    color: black;
    border-radius: 0.5rem;
    text-align: center;
    text-decoration: none;
    font-size: 1.25rem;
    cursor: pointer;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.4);
    padding: 0.5rem 1rem;

    &:before {
      content: "Create ";
    }
  }

  .folder-item {
    display: grid;

    grid-template-columns: 24px 24px auto 52px;

    &:hover {
      .content-tree-icon {
        opacity: 1;
      }
    }
  }

  .present-button {
    align-self: center;
    margin-bottom: 1rem;
    padding: 0.5rem 1rem;
    background-color: #ffc904;
    border: 0.125rem solid #ffc904;
    color: black;
    border-radius: 0.5rem;
    text-align: center;
    text-decoration: none;
    font-size: 1.5rem;
    cursor: pointer;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.4);
  }
}

.content-tree-icons {
  display: flex;
  flex-direction: row;
}

.content-tree-icon {
  opacity: 0;
  margin-left: 4px;

  path {
    transform: scale(0.05);
  }

  &.show {
    opacity: 1;
  }
}

.folder-icon {
  path {
    transform: scale(0.032);
  }
}

@media screen and (max-width: 1150px) {
  .content-tree {
    .question-list {
      .question-list-header {
        grid-template-columns: 100%;
      }
    }

    .preview-question {
      grid-template-columns: auto 8px 52px;
    }

    .type {
      display: none;
    }
  }
}

@media screen and (max-width: 800px) {
  .content-tree {
    .create-question-button,
    .create-folder-button {
      &:before {
        content: "+ ";
      }
    }
  }
}
