.create-question-module {
  width: 48rem;
  border: 1px solid #cccccc;
  border-radius: 16px;
  background: #f2f2f2;
  position: absolute;
  z-index: 1001;
  left: 50%;
  transform: translate(-50%, 0);
  top: 2rem;
  box-shadow: 0 0 30px 10px rgba(0, 0, 0, 0.5);

  .exit {
    background-color: #ffc904;
    font-size: 1.5rem;
    width: 2rem;
    height: 2rem;
    border: none;
    border-radius: 50%;
    margin: 0.5rem 0.5rem 0 0;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
  }

  button:focus {
    outline: none;
  }

  .creator-header {
    background: black;
    height: 6rem;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
    border-radius: 16px 16px 0 0;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .header-title {
      margin: 1rem 0;
      color: #ffc904;
      font-weight: bold;
      font-size: 1.75rem;
      text-align: center;
    }

    .header-tabs {
      height: 30rem;
      display: flex;
      justify-content: space-around;

      .tab-buttons {
        cursor: pointer;
        text-align: center;
        background: none;
        border: none;
        font-size: 1.25rem;
        color: #ffc904;
        width: 100%;
      }

      .selected {
        border-bottom: 2px solid #ffc904;
      }
    }
  }

  .creator-body::-webkit-scrollbar {
    display: none;
  }

  .buttons {
    background: black;
    height: 3rem;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
    border-radius: 0 0 16px 16px;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    .save-button,
    .cancel-button {
      align-self: center;
      width: 80px;
      height: 24px;
      background-color: #ffc904;
      border: none;
      color: black;
      font-weight: bold;
      border-radius: 5px;
      text-align: center;
      text-decoration: none;
      font-size: 12px;
    }

    .cancel-button {
      background-color: #cccccc;
      color: black;
    }
  }
}
