.gradebook {
  width: 100%;
  font-size: 20px;

  .grade-navigation {
    padding: 1rem 0;
    width: 100%;

    display: flex;
    justify-content: flex-end;
    align-items: left;
  }

  .session-info-wrapper {
    display: flex;
    flex-direction: row;
  }

  .expand {
    color: #ffc904;
    font-size: 15px;
    cursor: pointer;
    // text-shadow: 1px 1px gray;
    text-decoration: none;
  }

  .session-info-name {
    font-weight: 700;
    margin-right: 1rem;
  }

  .first-column {
    min-width: 400px;
    max-width: 1000px;
  }

  .table-body-text {
    color: #717171;
  }

  .close-expand-button {
    text-decoration: none;
    vertical-align: middle;
    margin-right: 1rem;
    background-color: whitesmoke;
    color: black;
    padding: 0 0.25rem;
    border-radius: 0.25rem;
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.4);
    font-weight: bold;
  }

  .export-button,
  input {
    font-size: inherit;
  }

  input {
    border: none;
    outline: 0;
  }

  .search {
    border-bottom: 1px solid gray;
    position: relative;
    padding: 0.25em;
  }

  label {
    position: absolute;
    cursor: text;
    transform-origin: top left;
    transform: translate(0, 0) scale(1);
    transition: all 0.1s ease-in-out;
  }

  .active {
    transform: translate(0, 30px) scale(0.75);
  }

  .export-button {
    background-color: #ffc904;
    color: black;

    border: none;
    border-radius: 0.25rem;
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.4);

    font-weight: bold;

    padding: 0.75em;
    margin-right: 3rem;
  }

  .table-wrapper {
    overflow-x: auto;
    // margin: 0 2rem;
  }

  .averages {
    td {
      padding: 1em 1em 1em 1em;
    }
  }

  table {
    margin: auto;
    width: 100%;
    text-align: left;
    border-collapse: collapse;
    border: 1px solid black;
  }

  .header-text {
    font-size: 22px;
    color: #717171;
  }

  .averages-text {
    font-size: 18px;
    color: #717171;
    font-weight: bold;
  }

  th {
    padding: 0.5em 1em 2em 1em;
  }

  td {
    padding: 0.5em 1em;
  }

  th,
  td {
    min-width: 300px;
    max-width: 300px;
    border: 1px solid #c8c8c8;

    font-size: 16px;
  }

  tbody td {
    font-size: 16px;
  }

  .align-right {
    text-align: right;
  }

  .bar {
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    background-color: #dddddd;
    border-radius: 0.5rem;

    .bar-value {
      height: 7px;
      border-radius: 0.5rem;
    }
  }
}
