.gradebook {
  width: 100%;
  font-size: 20px;

  .grade-navigation {
    margin: 1rem 3rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .session-info-wrapper {
    display: flex;
    flex-direction: row;
  }

  .session-info-name {
    font-weight: 700;
    margin-right: 1rem;
  }

  .close-expand-button {
    text-decoration: none;
    vertical-align: middle;
    margin-right: 1rem;
    background-color: whitesmoke;
    color: black;
    padding: 0 0.25rem;
    border-radius: 0.25rem;
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.4);
    font-weight: bold;
  }

  .export-button,
  input {
    font-size: inherit;
  }

  input {
    border: none;
    outline: 0;
  }

  .search {
    border-bottom: 1px solid gray;
    position: relative;
    padding: 0.25em;
  }

  label {
    position: absolute;
    cursor: text;
    transform-origin: top left;
    transform: translate(0, 0) scale(1);
    transition: all 0.1s ease-in-out;
  }

  .active {
    transform: translate(0, 30px) scale(0.75);
  }

  .export-button {
    background-color: #ffc904;
    color: black;

    border: none;
    border-radius: 0.25rem;
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.4);

    font-weight: bold;

    padding: 0.75em;
  }

  .table-wrapper {
    overflow-x: auto;
  }

  table {
    width: 100%;
    text-align: left;
    border-collapse: collapse;
    border: 1px solid black;
  }

  th,
  td {
    min-width: 130px;
    border: 1px solid lightgray;

    padding: 0.5em 1em;
    font-size: 16px;

    .expand {
      color: #ffc904;
      font-size: 12px;
      cursor: pointer;
      text-shadow: 1px 1px gray;
    }

    .date {
      font-size: 12px;
    }
  }

  tbody td {
    font-size: 16px;
  }

  .align-right {
    text-align: right;
  }
}

.bar {
  width: 100%;
  margin-top: 0.5rem;
  background-color: #dddddd;
  border-radius: 0.5rem;

  .bar-value {
    height: 4px;
    border-radius: 0.5rem;
  }
}
